<%# 今日の日付を識別 %>
<% if day == @todays_date %>
  <span class="today">
<% else %>
  <span class="not-today">
<% end %>

<%# 今月の1日かどうかを判断 %>
<% if i <= 6 && day.day == 1 %>
  <%= @date.month %>月
  <%# 来月の1日かどうかを判断 %>
<% elsif i >= 28 && day.day == 1 %>
  <%= @date.next_month.month %>月
<% end %>

<%# 日付を表示 %>
<%= day.day %>日
</span>

<% day_workouts = @workouts.select{|i| i.workout_date == day } %>
<% if day_workouts.present? %>
  <% day_workouts.each do |day_workout| %>
    <ul>
      <li class="workout-log"><%= day_workout.routine.name %></li>
    </ul>
  <% end %>
<% end %>