<%= render "shared/second-header" %>
<div class="contents">
  <div class="workout-result">
    <div class="create-text">
      <p class="result-message">お疲れさまでした！</p>
    </div>
    <div class="create-text">
      <p>カレンダーで進捗を確認しましょう</p>
    </div>
    <%= link_to "トップページへ", root_path %>
  </div>
</div>

<%= render "shared/footer" %>