.contents{
  min-height: calc(100vh - 170px);
  padding-bottom: 50px;
}

// カレンダー部分のcss
.calendar-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 10px;
  text-align: center;
}

.month {
  font-size: 45px;
  font-weight: bold;
  margin: 0 50px;
}

.move-month {
  display: flex;
  justify-content: center;
}

.month-btn {
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 50px;
  color: 	#666666;
  background-color: #EEEEEE;
  border: none;
  border-radius: 10px;
  cursor: pointer;
} 

.month-btn:active {
  filter: opacity(0.5);
}

#move-today {
  width: 100px;
  font-size: 30px;
  font-weight: bold;
  margin: 0 2px;
}

.today:active{
  filter: opacity(0.5);
}

.calendar {
  margin: 10px;
}

.wdays {
  display: flex;
  height: 30px;
  justify-content: center;
  text-align: right;
}

.wday, .wday-h {
  min-width: 168px;
  width: calc(80% / 7);
  border: 1px solid gray;
  font-size: 18px;
  font-weight: bold;
}

.wday-h {
  color: #AAAAAA;
}

.week {
  display: flex;
  justify-content: center;
}



.pre-day, .this-month-day, .post-day {
  min-height: 100px;
  min-width: 168px;
  height: calc((100vh - 100px) / 6);
  width: calc(80% / 7);
  border: 1px solid gray;
  padding: 1px;
  text-align: right;
  overflow: auto;
  
  span {
    margin-bottom: 3px;
    font-size: 18px;
    font-weight: bold;
  }
}

.pre-day, .post-day {
  color: #CCCCCC;
}

.sunday_or_saturday {
  background-color: 	#EEE;
}

.this-month-day.sunday_or_saturday {
  .not-today {
    color:#777777;
  }
}

.today {
  background-color: #BEFF15;
  color: #FF5192;
  padding: 3px;
  border-radius: 5px;
}

.workout-log {
  text-align: center;
  padding: 0 10px;
  font-size: 18px;
}

.announce-workout {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 200;
  color:white;
  padding: 10px;
  border: 2px solid #CCC;
  border-radius: 20px;
  background-color: #555;
}

.workout-tip1 {
  font-size: 40px;
  margin-bottom: 10px;
}

.workout-tip2 {
  font-size: 25px;
}