.workout-new-background {
  background-position: center bottom;
}

.workout-wrap {
  text-align: center;
  min-height: 100vh;
  color: #EEE;
  padding-top: 40px;
  width: 70%;
  margin: 0 auto;
  background-color: rgba(119, 119, 119, 0.3);
}

.workout-name {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 30px;
}

.workout-btn {
  margin-bottom: 30px;
  cursor: pointer;
  font-size: 30px;
  padding: 2px 5px;
}

.workout-content {
  border-bottom: 1px dashed #EEE;
  padding: 30px 30px 20px;
}

.workout-menu {
  font-size: 35px;
}

.workout-menu span {
  color: #00FFFF;
}

.time-wrap {
  border: 3px solid #EEE;
  border-radius: 15px;
  width: 40%;
  margin: 20px auto;
  padding: 10px;
}

.current-state {
  font-size: 30px;
}

.last-seconds-wrap {
  display: flex;
  justify-content: center;
  margin: 10px 0;
  font-size: 40px;
  line-height: 68px;
}

.last-seconds, .last-set {
  margin: 0 5px;
  font-size: 50px;
  color: #FF0000;
}

.last-set-wrap {
  display: flex;
  justify-content: center;
  font-size: 30px;
  line-height: 75px;
}

#inform-finish-workout {
  font-size: 30px;
}