<div class="field">
  <div class="routine-form-text">
    トレーニング名
  </div>
  <p class="confirm-content"><%= routine.menu %></p>
</div>
<div class="field">
  <div class="routine-form-text">
    ワークアウトタイム
  </div>
  <p class="confirm-content"><%= routine.workout_time.name %></p>
</div>
<div class="field">
  <div class="routine-form-text">
    セット数
  </div>  
  <p class="confirm-content"><%= routine.set_count.name %>セット</p>
</div>
<div class="field">
  <div class="routine-form-text">
    インターバル
  </div>
  <p class="confirm-content"><%= routine.rest.name %></p>
</div>