<%= render "shared/header" %>

<div class="create-routine-result">
  <div class="create-text">
    <h1>作成が完了しました</h1>
  </div>
  <%= link_to "トップページへ戻る", root_path %>
</div>

<%= render "shared/footer" %>