.menu-header{
  font-size: 20px;
  width: 190px;
  border-bottom: 1px solid #CCC;
  margin: 0 auto 20px;
}

.routine-name-wrap {
  position: relative;
}

.routine-name {
  font-size: 24px;
  margin-bottom: 10px;
}

.confirm-content {
  font-size: 25px;
}

.back-btn {
  margin-right: 70px;
}

.public-status {
  position: absolute;
  top: 30px;
  right: 25%;
}