/* confirm、editでも使用しているものあり */
.routine-background {
  background-image: image-url("dumbbel.jpg");
  background-size: cover;
  text-align: center;
  color: #EEE;
}

.routine-form-wrap, .confirm-form-wrap{
  background-color: rgba(85, 85, 85, 0.5);
  padding: 30px 0;
  min-height: calc(100vh - 170px);
  overflow: auto;
  width: 65%;
  margin: 0 auto;
}

.routine-form-header {
  font-size: 24px;
  border-bottom: 1px solid #EEE;
  width: 270px;
  margin: 0 auto;
}

.routine-name-wrap {
  margin: 20px 0;
}

.routine-name-input {
  width: 300px;
}

.routine-form, .nested-fields, .confirm-routine{
  padding: 20px 0;
  margin: 10px auto;
  width: 80%;
  border: 1px solid #EEE;
}

.field {
  margin: 0 20px 10px 0;
  display: inline-block;
}

.add-nested-btn {
  color: #32EEFF;
  border-bottom: 1px solid #32EEFF;
}

.remove-nested-btn {
  color: #00ECFF;
  border-bottom: 1px solid #00ECFF;
  display: block;
  width: 36px;
  margin: 0 auto;
}

.routine-form-text {
  font-size: 18px;
  margin-right: 10px;
}

.select-box {
  width: 100px;
}

.action {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

