.second-header {
  width: 100%;
  height: 70px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #EEEEEE;
  padding: 2px 0;
}

.second-header-logo {
  width: 90px;
}