<div class="before_registration_contents">
  <div class="apps-wrap">
    <div class="apps-logo-wrap">
      <%= link_to image_tag("logo2.png", class:"apps-logo"), root_path %>
    </div>
    <div class="apps-info-wrap">
      <ul class="apps-info-list">
        <li class="apps-info">ワークアウトとインターバルを自動で管理</li>
        <li class="apps-info">オリジナルの筋トレメニューを作成</li>
        <li class="apps-info">筋トレの進捗状況を管理</li>
      </ul>
    </div>
  </div>
  <div class="how-to-register">
    <div class="email-registration-wrap">
      <%= link_to new_user_registration_path, class: "email-registration registration-common" do %>
        <span class="fas fa-envelope-square"></span>メールアドレスで登録
      <% end %>
    </div>
    <div class="sns-registration-wrap">
      <h2 class="sns-header">SNSアカウントをお持ちの方</h2>
      <%= link_to user_facebook_omniauth_authorize_path, method: :post, class: "facebook-registration registration-common" do %>
        <span class="fab fa-facebook-square"></span>Facebookで登録
      <% end %>
      <%= link_to user_google_oauth2_omniauth_authorize_path, method: :post, class: "google-registration registration-common" do %>
        <span class="fab fa-google-plus-square"></span>Google+で登録
      <% end %>
    </div>
  </div>
</div>