<%= render "shared/header" %>

<div class="user-contents">
  <%= render "sid-bar" %>
  <div class="user-info-wrap">
    <%= render "routines/show" %>
  </div>
</div>

<script>
  const sidBar = document.getElementById("routines-bar");
  sidBar.setAttribute("style", "background-color: rgba(230, 230, 230, 0.5);");
</script>

<%= render "shared/footer" %>