<footer class='first-footer'>
  <div class='footer-text-wrap'>
    <p class='footer-text'>会社概要</p>
    <p class='footer-text'>プライバシーポリシー</p>
    <p class='footer-text'>利用規約</p>
    <p class='footer-text'>サービスガイド</p>
    <p class='footer-text'>お問い合わせ</p>
  </div>
</footer>