<footer class='second-footer'>
  <div class='second-footer-text-wrap'>
    <p class='second-footer-text'>会社概要</p>
    <p class='second-footer-text'>プライバシーポリシー</p>
    <p class='second-footer-text'>利用規約</p>
    <p class='second-footer-text'>サービスガイド</p>
    <p class='second-footer-text'>お問い合わせ</p>
  </div>
  <%= image_tag "logo2.png", class:"second-footer-logo"%>
</footer>