.login-contents {
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: image-url("running_machine.jpg");
  background-size: cover;
  background-position: top center;
  display: flex;
}

.apps-wrap {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.apps-info {
  width: 10%;
}

.apps-logo {
  width: 40%;
  margin-left: 10%;
}

.apps-info-wrap {
  text-align: center;
}

.apps-info-list {
  margin-top: 30px;
}

.apps-info {
  width: 100%;
  font-size: 2vw;
  color: white;
  display: inline-block;
  margin-bottom: 40px;
}

.how-to-login {
  width: 80%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.email-login-wrap {
  width: 100%;
  padding-bottom: 20px;
}

.login-form-text {
  color: white;
}

.login-btn {
  width: 50%;
  margin: 0 auto;
  margin-top: 30px;
}

.login-red-btn {
  width: 100%;
  background: #ea352d;
  border: 1px solid #ea352d;
  color: #fff;
  line-height: 48px;
  font-size: 14px;
  cursor: pointer;
  border-radius: 5px;
}

.login-flash-message {
  text-align: center;
  color: #ea352d;
}

.forget-password {
  color: 	#00FFFF
}

.sns-login {
  margin-top: 15px;
}

.sns-login-wrap {
  margin-top: 15px;
}

.login-sns-header {
  color: white;
  font-weight: bold;
  font-size: 20px;
}

.facebook-login {
  font-size: 35px;
  color: white;
  margin-right: 30px;
}

.google-login {
  font-size: 35px;
  color: white;
}

.login-border{
  width: 50%;
  border: 1px solid #EEE;
  margin: 0 auto;
}

.to-registration {
  margin-top: 15px;
  color: white;
}

#display-registration-modal {
  color: #00FFFF;
  cursor: pointer;
}

#display-registration-modal:active {
  color: #FE0000;
}