/* meファイルでも使用 */
.user-contents {
  display: flex;
  height: calc(100vh - 170px);
  margin-top: 70px;
}

.sid-bar {
  width: 250px;
  text-align: center;
  border-right: 1px solid #DDD;
}

.sid-bar-lists {
  padding: 40px 0;
}

.sid-bar-list {
  padding: 10px 0;
  margin: 0  20px 10px;
  font-size: 20px;
  color: #555;
}

.user-info-wrap {
  width: calc(100% - 250px);
}
/* ここまで */